.formButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  border: 1px solid var(--color-primary);
  border-radius: 500px;
  padding: 10px 20px;
  font-family: "Poppins";
  margin-bottom: 5px;
}
.textarea {
  resize: none;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Poppins";
  margin-bottom: 5px;
}
.input::placeholder,
.textarea::placeholder {
  color: #cccccc;
}
.error {
  font-size: 12px;
  color: #ff1100;
  margin: 0px 0px 10px 20px;
}
