.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 500px;
  border: none;
  font-family: "Poppins";
}
.default {
  background: var(--color-primary);
  color: var(--color-white);
  margin-left: 10px;
}
.cancel {
  background: #e3e3e3;
}
